body{
  background:#232323;
  color:#f98033;
  font-family:monospace;
  -webkit-font-smoothing:antialiased;
  width: 500px;
  margin: auto;
  position: relative;
}

.cont {
    margin: 5vh auto;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 88%;
}

.bigdot{width:20px;height:20px;background-color:#f98033;border:1px solid #232323;box-shadow:0px 0px 0px 1px #f98033;border-radius: 50px;}
.row{text-align: center;}.row span{display:inline-block;width:130px;}
.clear{clear:both;} ul{padding:0} li{list-style-type: none;}
.fs{font-family: sans-serif;letter-spacing: 6px;font-weight: 800;text-transform: uppercase;font-size: 12px;}
ul.dotrun{width:100%;margin:9px 0px;padding:0px;}
ul.dotrun li{width:6px; height:6px;background-color:#f98033;list-style-type: none; margin:2px;border-radius:10px;}
ul.dotrun li:nth-child(1),ul.dotrun li:nth-child(2),ul.dotrun li:nth-child(3){float:left;}
ul.dotrun li:nth-child(4),ul.dotrun li:nth-child(5),ul.dotrun li:nth-child(6){float:right;}
.left {
    transform: rotate(180deg);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 6%;
    font-size: 12px;
    letter-spacing: 0px;
    writing-mode: vertical-rl;
}
.right {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 6%;
    font-size: 12px;
    letter-spacing: 0px;
    writing-mode: vertical-rl;
}
.smini {
    text-align: right;
    float: right;
    font-size: 8px;
    margin-top: 40px;
    text-transform: uppercase;
}
.tac{text-align: center;}
.polka {
    padding: 10px 0px;
    background: transparent;
    background-image: radial-gradient(rgba(249, 128, 51,0.35) 20%, transparent 0), radial-gradient(rgba(249, 128, 51,0.35) 20%, transparent 0);
    background-size: 10px 10px;
    background-position: 0px 0, 15px 15px;
    height:532px;
    animation-name:polka;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100, end);
}
ul.status{
    border: 1px solid;
    height:12px;
    padding: 1px;
    width: 115px;
    margin:0px 0px 1px;
  }
ul.status li{
    width: 11.5%;
    height: 10px;
    background: #f98033;
    margin: 0.5%;
    box-sizing: border-box;
    list-style-type: none;
    float: left;}
    ul.sml.status {height:4px;}
    ul.sml.status li{height:2px}
.loadingbox{
  border:1px solid;
  border-right:3px solid;
  border-left:3px solid;
  padding:1px;
  margin-bottom:10px;
}
.tickerbox{
  border:1px solid;
  padding:1px;
  margin:auto;
  margin-bottom:10px;
  width:120px
}
ul.status.ticker {
    border: 0px;
    padding: 0px;
    height: 10px;
    width: 120px;
    overflow: hidden;
}

ul.status.ticker li{
  width: 13px;
    height: 10px;
    background: #f98033;
    margin: 1px;
    box-sizing: border-box;
    list-style-type: none;
    float: left;
    animation: glow 2s steps(50, end);
    animation-delay: 4s;
  }
.ref{margin-top: -20px;}
.mini{font-size: 8px;}
ul.deker{padding:0%;margin:0px;}
.deker li {
    width: 100%;
    float: left;
    text-align: center;
    margin: 2px 0px;
    background: #232323;
    border: 1px solid #6e432b;
    box-sizing: border-box;
    border-right: 3px solid #6e432b;
    border-left: 0px;
    padding: 0px 0px;
}
  .deker a:hover li {
    border: 1px solid #f67f33;
    border-right: 3px solid #f67f33;
    border-left: 0px;
  }
  .deker.ft li {
    width: 16.66667%;
    border: 0px;
  }
  .deker.ft a:hover li {
    border: 0px solid #f67f33;
    border-right: 0px solid #f67f33;
    border-left: 0px;
  }
.deker hr{border: 0px; border-top: 1px dotted #6e432b;}
.deker li .block {
    float: left;
    border-right: 3px solid #6e432b;
    border-left: 3px solid #6e432b;
    padding: 18px 0px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1em;
    width: 15%;
    box-sizing: border-box;
    height: 60px;
}
  .deker a:hover li .block{
    border-right: 3px solid #f67f33;
    border-left: 3px solid #f67f33;
  }
  .deker.ft li .block {display: none;}
.deker li .mini {
    float: left;
    width: 70%;
    text-align: left;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    padding: 5px;
    height: 50px;
    line-height: 1em;
}
.deker.ft li .mini {display: none;}
.deker li .icon{
  width: 15%;
  float: right;
  height: 60px;
  box-sizing: border-box;
  padding: 16px 0px;
  font-size: 2em;
  text-align: center;
  border-left: 3px solid #6e432c;
}
  .deker a:hover li .icon{border-left: 3px solid #f67f33;}
  .deker.ft li .icon{border:0px; width:100%; color:#6e432c}
  .deker.ft a:hover li .icon{border:0px; width:100%; color:#f67f33;}
.deets ul{border-top:1px dashed rgba(249, 128, 51,0.35);border-bottom:1px dashed rgba(249, 128, 51,0.35);padding:10px 0px; margin:10px 0px;}
.deets ul li{width:100%; margin:3px 0%;float:left;text-align: right;}
.deets ul li .cat{float: left; font-weight:900;}
.deets ul li::after {content: '';border-bottom: 1px dotted #333;width: 100%;height: 1px;float: left;margin-top: -3px;}
p{text-transform: none; text-align: justify;}

.deets{font-size: 10px;}
a {color: inherit;text-decoration: none;}

img {
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    border: 1px dashed #6e432c;
    padding: 1px;
    margin: 1px 0px;
    width: 100%;
}

.mini ul.status.ticker{height:4px; width:0px;}
.mini.tickerbox {
    width: 124px;
    box-sizing: border-box;
    margin-bottom: 2px;
    border: 1px solid #6e432a;
}
.ticker.bg {
    animation: ticker 4s steps(8, end);
    animation-fill-mode: forwards;
    background: repeating-linear-gradient(to right, #f98033, #f98033 1px, #232323 2px, #232323 3px);
    height: 4px;
}

.smwb {
    font-size: 12px;
    padding: 7px 0px 1px;
    font-family: sans-serif;
    font-weight: bold;
    background: transparent;
    background-image: radial-gradient(rgba(249, 128, 51,0.35) 20%, transparent 0), radial-gradient(rgba(249, 128, 51,0.35) 20%, transparent 0);
    background-size: 10px 10px;
    background-position: 0px 0, 15px 15px;
    animation-name: polka;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100, end);
    letter-spacing: 2px;
}
.augment .cost{
    background: #f98033;
    color: #232323;
    font-size: 1.5em;
    padding: 6px 9px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: right;
    width: fit-content;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 5px solid;
}
i.material-icons {
    vertical-align: middle;
}
.augment {
    font-size: 11px;
    text-transform: initial;
    letter-spacing: 0px;
    padding-left: 5px;
    border-left: 3px solid #f98033;
    margin:5px 0px
}
.agstripe{position: relative;}

.a-t {cursor: pointer;}
.a-c {display: none;padding-bottom:10px;}
.a-c.default {display: block;}

.augment .bonus {
    border: 1px dashed #6e432c;
    margin-bottom: 3px;
    padding: 0px 5px;
}

  .augment .bonus .bat {
      padding: 5px 2px;
      text-align: right;
      box-sizing: border-box;
  }
    .augment .bonus .bat .sm {
      float: none;
      padding: 0px;
      width: 100%;
    }
  .augment .bonus .bat i{
    vertical-align: middle;
    font-size: 2em;
    padding: 0px;
    line-height: 1em;
    float:right;
  }
.augment .bonus .sm{
    vertical-align: top;
    padding: 0 5px 5px;
    box-sizing: border-box;
}
.augment .bonus .bon {
    background: #f98033;
    color: #232323;
    margin: 3px 0px 0px;
    font-size: 1.3em;
    padding: 1px 3px;
    width: fit-content;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
}
.w {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.half{float:left;width:50%;box-sizing: border-box;}
.half:nth-child(odd){padding-right: 10px;}.half:nth-child(even){padding-left: 10px;}
.augment span.a-c{padding:0px;}.augment span.a-c::after{content:"";}

p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

hr {
    border: 0px;
    border-top: 1px dashed #f98033;
    width: 90%;
    overflow: visible;
    margin: 15px auto 12px;
}
  hr::before {
      content: "+";
      display: block;
      width: 4%;
      position: relative;
      left: -5%;
      overflow: visible;
      top: -10px;
      height: 5px;
  }
  hr::after {
      content: "+";
      display: block;
      width: 4%;
      position: relative;
      float:right;
      right: -5%;
      overflow: visible;
      top: -14px;
      height: 5px;
      text-align: right;
  }

  .hack {
      padding: 20px;
      margin: auto;
      height: auto;
      font-size: 12px;
  }

  .hack .w {
      padding-top: 10px;
      font-size: 14px;
  }

  .loading-system{padding: 180px 50px;}

/* ANIMATIONS */
.flash{animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;}
@keyframes flash {
  0% {color: transparent;}
  50% {color: #f98033;}
  100% {color: transparent;}
}

.boxflash{animation-name: boxflash;
  animation-duration: 3s;
  animation-iteration-count: infinite;}
@keyframes boxflash {
  0% {background-color: #ffa165;}
  50% {background-color: #f98033;}
  100% {background-color: #ffa165;}
}

.loading{
  height:5px;
  background-color:#f98033;
  animation-name: loading;
  animation-duration:4s;
}
@keyframes loading{
  from {width:0%;}
  to {width:100%;}
}

.ticker{
  animation: ticker 4s steps(8, end);
  animation-fill-mode: forwards;
}
@keyframes ticker{
  from {width:0%;}
  to {width:100%;}
}

@keyframes glow{
  0% {background-color: #f98033;}
  50% {background-color: #ffb585;}
  100% {background-color: #f98033;}
}

@keyframes repglow{
  0% {border-color: #f98033;color: #f98033;}
  50% {border-color: #ffb585;color: #ffb585;}
  100% {border-color: #f98033;color: #f98033;}
}

.loaded{
  animation:loaded 3s steps(100, end);
  animation-delay:5s;
  overflow:hidden;height:0%;
  animation-fill-mode: forwards;
}
@keyframes loaded{
  0% {height:0px;overflow:hidden;}
  99% {height:100vh;overflow:visible;}
  100% {height:auto;}
}

@keyframes polka{
  0%{background-position: 0px 0px,  15px 15px;}
  50%{background-position: 0px 15px, 15px 30px;}
  100%{background-position: 0px 30px, 15px 45px;}
}

/*MEDIA QUERY*/
@media only screen and (max-width: 500px) {
  body{width:100%;}
  .polka .ref{display:none;}
  .left{left:1%;}.right{right:1%;}
  .cont{width:84%;}
  .polka{height:auto;}
  .loading-system{padding: 50px 50px 20px;}
}
